@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 10px;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #3a99d0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
}

.limiter {
  border-radius: 12px;
  background: #f8f8f8;
  padding: 20px 10px 15px 15px;
  display: flex;
  margin: 5px;
  /* box-shadow: 25 50; */
}

.form-group {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
}
/* 
.row {
    font-size: 29px;
} */

.login-page .limiter .login-box .type-name {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  /* background-color: #F8F8F8; */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 20 20 20;
}

.login-page .limiter .frm-login {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px 15px 20px;
  padding: 12px;
  /* font-weight: ; */
}

.login-page .limiter .frm-login .form-group {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* padding: 12px; */
  height: 100;
  width: 100;
  /* align-items: center;
    justify-content: center; */
  font-size: 30px;
  /* margin-right: 0; */
  border-radius: 10px;
  margin-right: 0px;
  /* margin-top:  10px; */

  /* font-weight: ; */
}




.button :hover {
  background-color: #45a049;
  /* motion-rotation: none; */
}
/* 
btn {
  text-decoration: none;
} */

.form-group > .no-border,
.row > .no-border {
  border: none;
  color: rgb(7, 1, 1);
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px 6px;
  cursor: pointer;
  font-size: 20px;
}

.frm-login .row .button {
  background-color: darkgray;
  border: none;
  color: white;
  padding: 12px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 2px 6px;
  text-align: center;
  /* margin-right: 10px; */
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {
    border-radius: 6px;
}

.button :hover .button{
    background-color: RGB(127, 205, 205);
    color: black;
    /* motion-rotation: none; */
  }